{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body">
    <div class="container">

        <header>
          <img src="{% static 'images/logo.png' %}" alt="">
          <nav>
            <ul>
              <li>
                <a class="btn" href="#" title="Register / Log In">Contacto</a>
              </li>
            </ul>
          </nav>
        </header>
      
        <div class="cover">
            {% block content %}
            {% endblock %}
          <div id="madeby">
            <p>Editada por Manuel García Marín</p>
          </div>
        </div>
      
      </div>
</body>
</html>